@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.no-underline a {
  text-decoration: none;
}


  .card {
    @apply relative h-[400px]  rounded-xl bg-whitesmoke-50 p-4 shadow-lg;
    
  }

  .card-img {
    @apply w-full rounded-xl overflow-hidden object-cover sm:max-h-72;
  }

  .card-tags {
    @apply absolute right-10 top-10 z-10 mb-6;
  }

  .card-content {
    @apply pt-6; 
  }

  .card-title {
    @apply mb-4 text-lg overflow-hidden overflow-ellipsis line-clamp-2; 
  }

  .card-intro {
    @apply overflow-hidden overflow-ellipsis line-clamp-3;
  }

.tag {
  @apply inline-block h-8 rounded-3xl border  bg-[#FAEBE1] px-3.5 py-2 text-sm leading-none transition-all hover:bg-red-300 hover:text-white;
}


.filter-list {
  @apply py-6 flex items-center flex-nowrap overflow-auto;
}

.filter-btn {
  @apply m-2 px-4 py-2 p-4 rounded-3xl border border-solid border-[#A9A9A9] whitespace-nowrap text-white ;

  /*&-active, &.active {
    @apply border-white bg-white shadow-[0px_10px_20px_rgba(0,0,0,0.05)];
  } */
}


.count-animation:hover {
  animation: blink 1s 3;
}

.all-courses-section {
  padding: 20px; 
}
.section-title {
  font-size: 28px;
  color: #797979; 
}

.courses-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px ;
}

.course-container {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.course-card {
  flex: 0 0 auto;
  width: 260px;
  height: 300px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 0 17px rgba(255, 255, 255, 0.2), 0 0 20px rgba(0, 0, 0, 0.1); /* Subtle constant shadow */
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.course-card:hover {
  transform: scale(1.03);
  border-radius: 12px;
}

.course-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.course-card p {
  font-size: 14px;
  color: #777;
}

.codeblock2 {
  position: absolute;
  width: 472.95px;
  height: 257.05px;
  left: calc(50% - 472.95px / 2 - 76.53px);
  top: calc(50% - 257.05px / 2 - 47.47px);
  border-radius: 100%;
  background: linear-gradient(
    118.19deg,
    #374752 -3.62%,
    #1b282a 50.44%,
    #52705f 104.51%
  );
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
}
.code-border {
  border: 1px solid transparent;
  border-radius: 0.375rem;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.29);
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to right bottom, #ffffff38, #ffffff00);
  background: linear-gradient(
    111.93deg,
    rgba(14, 26, 45, 0.24) -1.4%,
    rgba(17, 30, 50, 0.38) 104.96%
  );
  /* backdrop-filter: blur(26px); */
}